/* Structure */

$susy: (
  columns: 12, 
  container: 1153px,
  global-box-sizing: border-box,
  gutters: 0,
  debug: (image: hide)
 );

$color-2: #B548A6;
$color-3: #820D71;


@include border-box-sizing;


body {
	background: #f4f4f4;
	color: #333;

}

a:link,
a:visited {
	color: $color-2;
}

a:hover,
a:active {
	color: $color-3;
}

.bar {
	background: #3c0e62 url('../img/bg-mountains.jpg') no-repeat 0 bottom;
	background-size: cover;
	height: 21rem;
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
}

.wrapper {
	@include container;
	background: transparent;
	margin: 5rem auto;
	@include show-grid(12);
}

.sidebar {
	@include span(12);


	@media (min-width: 700px) {
		@include span(3);
		padding: 0 2.5rem;
	}	
}

header {
	color: #fff;
	height: 16rem;
	padding: 3rem 0;
	text-transform: uppercase;

	h1 {
		font-family: $font-for-logo;
		font-size: 3.75rem;
		font-weight: 300;
		margin-bottom: .5rem;

		span {
			display: block;
			font-size: 1.2rem;
			font-weight: 300;
			letter-spacing: 1px;
			margin: 0.5rem 0 0;		
		}
	}
}

nav {

	padding: 2.5rem 0;

	.links {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			color: #333;
			display: block;
			font-size: 1.25rem;
			line-height: 1.5rem;
			margin-bottom: .75rem;
			overflow: hidden;

			.circle {
				background: #77c08d;
				border-radius: 100%;
				color: #fff;
				float: left;
				font-size: 1.25rem;
				height: 1.5rem;
				margin: 0 .75rem 0 0;
				overflow: hidden;
				position: relative;
				text-align: center;
				width: 1.5rem;		

				&:before {
					position: relative;
					left: 1px;
					top: 1px;
				}	
			}			

			a:link,
			a:visited {
				color: #666;
				text-decoration: none;
			}

			a:hover,
			a:active {
				color: #000;
				text-decoration: none;

				.circle {
					background-color: #41b865;
				}				
			}			
		}
	}
}

.content {

	background: #fff;
	position: relative; 

	@include span(12);
	@media (min-width: 700px) {
		@include span(last 9);
		min-height: 40rem;
		padding: 3.5rem 2.5rem 2.5rem;
	}		

	> section {
		padding-bottom: 2rem;
	}

	> section + section {
		border-top: 1px #ccc solid;
		padding-top: 2rem;		
	}

	.about {
		width: 90%;
	}

	h1, h2, h3, h4, h5 {
		color: #230739;
	}

	h3 {
		font-size: 1.33rem;
	}
}

.projects-container {
	@include container(12);

	.project {
		display: block;
		margin: 0 0 0.5rem;
		padding: 0;	

		@include span(6 of 12);	

		&:nth-child(3) {
			clear: left;
		}

		figure {
			margin: 0 12% 0 0;
		}

		.img-container {
			background: #f6f6f6;
			border: 1px #ccc solid;
			min-height: 200px;
			@media (min-width: 700px) {
				overflow: hidden;
			}
			img {
				height: 150px;
				width: 200px;
				// TODO: Adjust thumbnail IMG to these dimensions
			}
		}

		figcaption {
			padding: 1.5rem .5rem .5rem;		

			h4 {
				margin-bottom: 0.5rem;
				text-transform: none;
			}
			p {
				font-size: .85rem;
				line-height: 1.5em;

				a .fa {
					margin-left: .5rem;
				}
			}
		}
	}
}

.list-tags {
	list-style: none;
	margin: 0 0 1rem;
	padding: 0;

	li {
		background: #666;
		border-radius: 2px;
		color: #fff;
		display: inline-block;
		font-family: arial, sans-serif;
		font-size: .65rem;
		letter-spacing: 1px;
		margin: 0 1px 4px 0;
		padding: 4px 8px;
		text-transform: uppercase;
		white-space: nowrap;
	}
}


.secret-page-corner {
  height: 69px;
  width: 69px;
}
