/* Structure */

$susy: (
  columns: 12,
  container: 1153px,
  global-box-sizing: border-box,
  gutters: 0,
  debug: (
    image: hide,
  ),
);

$small-screen: 400px;
$medium-screen: 600px;
$large-screen: 940px;
$x-large-screen: 1200px;

$color-2: #b548a6;
$color-3: #820d71;

$purple-1: #645389;

@include border-box-sizing;

body {
  background: #f4f4f4;
  color: #333;
}

a:link,
a:visited {
  color: $color-2;
}

a:hover,
a:active {
  color: $color-3;
}

.bar {
  background: linear-gradient(to bottom, #3c004a 0, #664b9d 66%, #7cb7ad 100%);

  @media (min-width: $medium-screen) {
    background: linear-gradient(
      to bottom,
      #3c004a 0,
      #664b9d 66%,
      #7cb7ad 100%
    );
  }
  height: 21rem;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

.wrapper {
  @include container;
  @include show-grid(12);

  background: transparent;
  margin: 0 auto;

  @media (min-width: $large-screen) {
    margin: 5rem auto;
  }
}

.sidebar {
  @include span(12);

  @media (min-width: $large-screen) {
    @include span(3);
    padding: 0 2.5rem;
  }
}

header {
  color: #fff;
  padding: 1rem;
  text-transform: uppercase;

  a {
    color: #fff !important;
    text-decoration: none;
  }

  @media (min-width: $large-screen) {
    height: 16rem;
    padding: 3rem 0;
  }

  h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0.25rem;

    @media (min-width: $large-screen) {
      font-size: 3.75rem;
      margin-bottom: 0.5rem;
    }

    span {
      display: block;
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 0.5rem 0 0;
    }
  }
}

nav {
  background: #f4f4f4;
  padding: 1rem;

  @media (min-width: $large-screen) {
    background: transparent;
    padding: 2.5rem 0;
  }

  .links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $large-screen) {
      display: block;
    }

    li {
      color: #000;
      display: block;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 0;
      overflow: hidden;
      white-space: nowrap;

      @media (min-width: $large-screen) {
        margin-bottom: 0.75rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .circle {
        background: #6dc1b3;
        border-radius: 100%;
        color: #fff;
        display: none;
        float: left;
        font-size: 1rem;
        height: 1.5rem;
        margin: 0 0.75rem 0 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 1.5rem;

        @media (min-width: $large-screen) {
          display: block;
        }

        &:before {
          position: relative;
          left: 0;
          top: 4px;
        }
      }

      a:link,
      a:visited {
        color: #000;
        text-decoration: none;
      }

      a:hover,
      a:active {
        color: #000;
        text-decoration: underline;

        .circle {
          background-color: #15a652;
        }
      }
    }
  }
}

.content {
  background: #fff;
  padding: 2rem 1rem 1rem;
  position: relative;

  @include span(12);

  @media (min-width: $large-screen) {
    @include span(last 9);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
    min-height: 40rem;
    padding: 3.5rem 2.5rem 2.5rem;
  }

  > section {
    padding-bottom: 2rem;
  }

  > section + section {
    border-top: 1px #ccc solid;
    padding-top: 2rem;
  }
}

// Projects

.project {
  .img-container {
    align-self: start;
    background: #fff;
    border: 1px #ccc solid;

    @media (min-width: $large-screen) {
      overflow: hidden;
    }

    a:hover,
    a:active {
      opacity: 0.66;
      transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -webkit-transition: opacity 0.3s ease-in-out;
    }

    img {
      vertical-align: middle;
      width: 100%;
    }
  }

  figcaption {
    padding: 1.5rem 0.5rem 0.5rem;

    h4 {
      font-size: 1rem;
      line-height: 1.25;
      margin-bottom: 0.5rem;
      text-transform: none;

      a {
        color: black;
        text-decoration: none;
        &:link,
        &:visited {
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      font-size: 0.85rem;
      line-height: 1.5em;

      @media (min-width: $large-screen) {
        font-size: 0.9rem;
      }

      a .fa {
        margin-left: 0.25rem;
      }
    }
  }
}

.projects-main {
  @include container(12);
  display: flex;
  flex-direction: column;
  .project {
    border-bottom: 1px #ececec solid;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    > figure {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 0px;
      margin: 0;
      figcaption {
        grid-column: 2 / 5;
        padding: 0 1rem;
        @media (min-width: $large-screen) {
          padding: 0 1.5rem;
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.projects-archive {
  @include container(12);

  .project {
    display: block;
    margin: 0 0 0.5rem;
    padding: 0;

    @media (min-width: $small-screen) {
      @include span(6 of 12);

      &:nth-child(3n) {
        clear: left;
      }
    }

    figure {
      margin: 0;

      @media (min-width: $small-screen) {
        margin-right: 12%;
      }
    }
  }
}

.project-screenshot {
  display: inline-block;
  margin: 0 0 2rem;
  img {
    background: #fff;
    display: block;
    max-width: 100%;
  }
  figcaption {
    background: #f1f1f1;
    font-size: 0.8rem;
    line-height: 1.25;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-style: italic;
  }
}

.add-border {
  border: 1px #ccc solid;
}

.pretty-thumbnail {
  background: rgb(79, 156, 156);
  border: 0;
  border-radius: 8px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;

  img {
    max-width: 100%;
  }
}

.projects-main .pretty-thumbnail {
  padding: 1rem;
}

.clients-container {
  @include container(12);

  .client {
    display: block;
    margin: 0 0 0.5rem;
    padding: 0;

    @include span(6 of 12);

    &:nth-child(2n + 2) {
      //clear: left;
    }

    @media (min-width: $large-screen) {
      @include span(3 of 12);

      &:nth-child(4n + 4) {
        //clear: left;
      }
    }

    figure {
      margin: 0;

      @media (min-width: $large-screen) {
        margin-right: 12%;
      }
    }

    .img-container {
      background: #fff;
      //border: 1px #ccc solid;

      @media (min-width: $large-screen) {
        overflow: hidden;
      }

      a:hover,
      a:active {
        opacity: 0.66;
        transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out;
      }

      img {
        vertical-align: middle;
        width: 100%;
      }
    }

    figcaption {
      display: none;
      padding: 0.5rem 0.5rem 0.5rem;
      text-align: center;

      h4 {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        text-transform: none;
      }
    }
  }
}

.skills {
  .skills-group {
    border-top: 1px #ccc solid;
    padding-top: 2rem;
    margin-bottom: 3rem;

    h4 {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }

    .title {
      display: block;
      margin-bottom: 0.25rem;
      font-size: 1rem;
    }

    .company-name {
      display: block;
      margin-bottom: 0.25rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.25rem;
    }

    ul {
      font-size: 0.85rem;
      line-height: 1.5em;
    }

    table td {
      vertical-align: top;
    }

    &.work-experience,
    &.languages {
      h4 {
        margin-bottom: 1rem;
      }
    }
  }
}

.list-tags {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
  max-width: 100%;
  &:last-child {
    margin-bottom: 0;
  }

  li {
    background: #645389;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 10px;
    margin: 0 1px 4px 0;
    padding: 6px 8px;
    text-transform: uppercase;
    white-space: nowrap;

    &.tag-design {
      background: #ad5c99;
    }
    &.tag-other {
      background: #9ead5c;
    }
  }
}

.secret-page-corner {
  height: 69px;
  width: 69px;
}

.icon-margin-right:before {
  margin-right: 10px;
}

footer {
  clear: both;
  padding: 1rem 0;
  text-align: center;
  width: 100%;

  @include span(12);

  @media (min-width: $large-screen) {
    @include span(last 9);
  }

  p {
    font-size: 0.75rem;
    margin: 0;
  }
}
