<div class="clients-container">
	<div class="client">
		<figure>
			<div class="img-container">
				<img src="assets/img/projects/logo-cake.png" alt="Cake logo">
			</div>
			<figcaption>
				<h4>Cake</h4>
			</figcaption>
		</figure>			  			
	</div>
	<div class="client">
		<figure>
			<div class="img-container">
				<img src="assets/img/projects/logo-boa-01.jpg" alt="Bank of America logo">
			</div>
			<figcaption>
				<h4>Bank of America</h4>
			</figcaption>
		</figure>			  			
	</div>
	<div class="client">
		<figure>
			<div class="img-container">
				<img src="assets/img/projects/logo-fhm-01.jpg" alt="Fidelity Health Marketplace logo">
			</div>
			<figcaption>
				<h4>Fidelity Health</h4>
			</figcaption>
		</figure>			  			
	</div>
	<div class="client">
		<figure>
			<div class="img-container">
				<img src="assets/img/projects/logo-abbvie-01.jpg" alt="Abbvie logo">
			</div>
			<figcaption>
				<h4>Abbvie</h4>
			</figcaption>
		</figure>			  			
	</div>
	<div class="client">
		<figure>
			<div class="img-container">
				<img src="assets/img/projects/logo-humana-01.jpg" alt="Humana logo">
			</div>
			<figcaption>
				<h4>Humana</h4>
			</figcaption>
		</figure>			  			
	</div>	
	<div class="client">
		<figure>
			<div class="img-container">
				<img src="assets/img/projects/logo-espn-01.jpg" alt="ESPN logo">
			</div>
			<figcaption>
				<h4>ESPN</h4>
			</figcaption>
		</figure>			  			
	</div>
	<div class="client">
		<figure>
			<div class="img-container">
				<img src="assets/img/projects/logo-motorola-01.jpg" alt="Motorola logo">
			</div>
			<figcaption>
				<h4>Motorola</h4>
			</figcaption>
		</figure>			  			
	</div>
	<div class="client">
		<figure>
			<div class="img-container">
				<img src="assets/img/projects/logo-adidas-01.jpg" alt="Adidas MiCoach logo">
			</div>
			<figcaption>
				<h4>Adidas MiCoach</h4>
			</figcaption>
		</figure>			  			
	</div>
	<div class="client">
		<figure>
			<div class="img-container">
				<img src="assets/img/projects/logo-bertuccis-01.jpg" alt="Bertuccis logo">
			</div>
			<figcaption>
				<h4>Bertucci's</h4>
			</figcaption>
		</figure>			  			
	</div>	
	<div class="client">
		<figure>
			<div class="img-container">
				<img src="assets/img/projects/logo-samsonite-01.jpg" alt="Samsonite logo">
			</div>
			<figcaption>
				<h4>Samsonite</h4>
			</figcaption>
		</figure>			  			
	</div>								
</div>