<footer>
	<p>All contents of this site, unless otherwise noted, are ©2003-2016 Annette Arabasz</p>
	<p>If you'd like nitty-gritty details about this site, click <a href="nitty-gritty.html">here</a>.</p>
</footer>