

<div class="project-list">

	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-cake-01.html"><img src="assets/img/projects/logo-cake.png" alt="Cake logo"></a>
			</div>
			<figcaption>
				<h4>Cake: App redesign</h4>

				<p>As the company's first Front End Dev, I had the exciting opportunity to do a top-to-bottom evaluation of the app and make improvements to usability, mobile-friendliness and overall look and feel.</p>	
				<p><a href="project-cake-01.html">Read more<span class="fa fa-arrow-circle-right"></span></a></p>		  				
			</figcaption>
		</figure>			  			
	</div>

</div>