

<div class="project-list">

	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-cake-02.html"><img src="assets/img/projects/logo-cake.png" alt="Cake logo"></a>
			</div>
			<figcaption>
				<h4><a href="project-cake-02.html">Cake: Creating a Fundraiser Tool</a></h4>
				<ul class="list-tags">
					<li class="tag-design">UX</li>
					<li class="tag-design">User flows</li>
					<li class="tag-design">Wireframes</li>
  					<li>HTML</li>
  					<li>CSS</li>		
					<li>React</li>
  				</ul>		
				<p>Designing and coding a new fundraising tool for Cake's Memorial tool using UX best practices.</p>	
				<p><a href="project-cake-02.html">Read more<span class="fa fa-arrow-circle-right"></span></a></p>		  				
			</figcaption>
		</figure>			  			
	</div>

	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-cake-01.html"><img src="assets/img/projects/logo-cake.png" alt="Cake logo"></a>
			</div>
			<figcaption>
				<h4><a href="project-cake-01.html">Cake: Redesign of the Core App</a></h4>
				<ul class="list-tags">
					<li class="tag-design">UX</li>
					<li class="tag-design">Design</li>
  					<li>HTML</li>
  					<li>CSS</li>
  					<li>Bootstrap</li>	
					<li>Angular</li>
					
  				</ul>	
				<p>A top-to-bottom evaluation of the app's design, with improvements to branding, accessibility and overall usability.</p>	
				<p><a href="project-cake-01.html">Read more<span class="fa fa-arrow-circle-right"></span></a></p>		  				
			</figcaption>
		</figure>			  			
	</div>

	
	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-va.html"><img src="assets/img/projects/logo-va.png" alt="VA logo"></a>
			</div>
			<figcaption>
				<h4><a href="project-va.html">VA.gov: Responsive Design System</a></h4>
				<ul class="list-tags">
					<li class="tag-design">Mobile</li>
					<li class="tag-design">Design</li>
  					<li>HTML</li>
  					<li>CSS</li>		
					<li>SASS</li>	
					<li>jQuery</li>
					<li class="tag-other">Accessibility</li>

  				</ul>	
				<p>With the surge in mobile browsing, the VA required a new design system capable of accommodating both mobile and desktop users.</p>	
				<p><a href="project-va.html">Read more<span class="fa fa-arrow-circle-right"></span></a></p>		  				
			</figcaption>
		</figure>			  			
	</div>

</div>