<div class="projects-archive">

	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-boa.html"><img src="assets/img/projects/logo-boa-01.jpg" alt="BOA thumbnail image"></a>
			</div>
			<figcaption>
				<h4><a href="project-boa.html">Bank of America: Responsive Design System</a></h4>
				<p>A pilot design system serving as Bank of America's first step toward making their web presence mobile-friendly.</p>				  				
				<p><a href="project-boa.html">Read more<span class="fa fa-arrow-circle-right"></span></a></p>			  				
			</figcaption>
		</figure>			  			
	</div>

	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-abbvie.html"><img src="assets/img/projects/logo-abbvie-01.jpg" alt="Abbvie thumbnail image"></a>
			</div>
			<figcaption>
				<h4><a href="project-abbvie.html">AbbVie: Responsive Design System</a></h4>
				<p>A mobile-friendly component guide for AbbVie's Pharmacy Solutions Manager.</p>				  				
				<p><a href="project-abbvie.html">Read more<span class="fa fa-arrow-circle-right"></span></a></p>			  				
			</figcaption>
		</figure>			  			
	</div>

	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-espn-02.html"><img src="assets/img/projects/tb-espn-02.png" alt="ESPN website thumbnail image"></a>
			</div>
			<figcaption>
				<h4><a href="project-espn-02.html">ESPN Playstation Fiesta Bowl</a></h4>
				<p>A mobile-friendly media digest website for Playstation Fiesta Bowl sponsors.</p>				  				
				<p><a href="project-espn-02.html">Read more<span class="fa fa-arrow-circle-right"></span></a></p>			  				
			</figcaption>
		</figure>			  			
	</div>

		<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-fidelity.html"><img src="assets/img/projects/logo-fhm-01.jpg" alt="Fidelity website thumbnail image"></a>
			</div>
			<figcaption>
				<h4><a href="project-fidelity.html">Fidelity Healthcare Marketplace</a></h4>
				<p>A collection of mobile-optimized templates to launch Fidelity's healthcare services marketplace.</p>				  				
				<p><a href="project-fidelity.html">Read more<span class="fa fa-arrow-circle-right"></span></a></p>			  				
			</figcaption>
		</figure>			  			
	</div>

<!--
	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-hxr.html"><img src="assets/img/projects/tb-hxr-01.jpg" alt="HXR website thumbnail image"></a>				  				
			</div>			  
		<figcaption>
				<h4>HXD Conference</h4>		  	
				<p>Website for the annual Healthcare Experience Design Conference.</p>			  								  				
				<p><a href="#">Read more<span class="fa fa-arrow-circle-right"></span></a></p>			  				
			</figcaption>
		</figure>			  			
	</div>
	
	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-espn.html"><img src="assets/img/projects/tb-espn-01.jpg" alt="ESPN website thumbnail image"></a>
			</div>
			<figcaption>
				<h4>ESPN Event Wrap-Ups</h4>
				<p>A series of websites for ESPN's annual events, including the X Games and the ESPYs Awards.</p>				  				
				<p><a href="project-espn.html">Read more<span class="fa fa-arrow-circle-right"></span></a></p>			  				
			</figcaption>
		</figure>			  			
	</div>
	--> 
</div>