<div class="projects-container">
	<div class="project">
		<figure>
			<div class="img-container">
				<a href="https://joincake.com"><img src="assets/img/projects/logo-cake.png" alt="Cake logo"></a>
			</div>
			<figcaption>
				<h4>Cake</h4>
				<p>Cake provides a digital platform that makes it easier to do advance care planning and end-of-life planning.</p>	
				<p>(Project page coming soon.)</p>			  				
				<p><a href="https://joincake.com">Direct link<span class="fa fa-arrow-circle-right"></span></a></p>			  				
			</figcaption>
		</figure>			  			
	</div>

	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-espn.html"><img src="assets/img/projects/tb-espn-01.jpg" alt="ESPN website thumbnail image"></a>
			</div>
			<figcaption>
				<h4>ESPN Event Wrap-Ups</h4>
				<p>A series of websites for ESPN's annual events, including the X Games and the ESPYs Awards.</p>				  				
				<p><a href="project-espn.html">Project Details<span class="fa fa-arrow-circle-right"></span></a></p>			  				
			</figcaption>
		</figure>			  			
	</div>

	<div class="project">
		<figure>
			<div class="img-container">
				<a href="project-hxr.html"><img src="assets/img/projects/tb-hxr-01.jpg" alt="HXR website thumbnail image"></a>				  				
			</div>			  
		<figcaption>
				<h4>HXD Conference</h4>		  	
				<p>Website for the annual Healthcare Experience Design Conference.</p>			  								  				
				<p><a href="#">Project Details<span class="fa fa-arrow-circle-right"></span></a></p>			  				
			</figcaption>
		</figure>			  			
	</div>
</div>