<div class="sidebar">
	<header>
		<h1><a href="index.html">Annette Arabasz <span>UX Developer</span></a></h1>
	</header>	
	<nav>
		<ul class="links">
			<li><a href="about.html"><span class="circle fa fa-star"></span>About</a></li>					
			<li><a href="projects.html"><span class="circle fa fa-star"></span>Projects</a></li>
			<li><a href="resume.html"><span class="circle fa fa-star"></span>Résumé</a></li>
			<li><a href="connect.html"><span class="circle fa fa-star"></span>Connect</a></li>
		</ul>
	</nav>
</div>