<!DOCTYPE html>
<!--[if IE]><html class="is-ie" lang="en" dir="ltr"><![endif]-->
<!--[if !IE]><!--><html class="not-ie" lang="en" dir="ltr"><!--<![endif]-->

<head>
	<link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>Pages</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../vendor/normalize.css/normalize.css">
	<link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">		
	<link rel="stylesheet" href="../styles/all.css">	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>			
</head>
<body>

	<div class="page-wrapper">
<header class="header-primary" role="banner">
	<div class="container-full-width bar-top">
		<div class="container-special-width">
			<div class="logo-container">
				<a class="logo" href="home.html">
					<img src="../assets/logo-fhm.png" alt="Logo Image">
				</a>
				<a class="logo-member">
					<img src="../assets/logo-atk.png" alt="Member Logo Image">
				</a>	
			</div>		

			<div class="navigation-tools">

				<a href="javascript:void(0)" class="navigation-menu-button btn" id="js-mobile-menu-button"><span class="fa fa-bars"></span> Menu</a>



				<div class="profile">
					<p class="profile-greeting">Hi, Bob!</p>
					<button class="btn">Logout</button>
				</div>		

				<div class="search-bar">
					<form role="search">
						<input type="search" placeholder="Search" />
						<button type="submit">
							<img src="../assets/icon-magnifying-glass.png" alt="Search Icon">
						</button>
					</form>
				</div>						
			</div>
		</div>	
	</div>

	<div class="container-full-width bar-bottom">
		<div class="container-standard-width">

<nav role="navigation" class="nav-primary">
	<ul id="js-navigation-menu" class="navigation-menu show">
		<li class="nav-link nav-home nav-1"><a href="home.html">Home</a></li>
		<li class="nav-link nav-2"><a href="plan-ahead.html">Plan Ahead</a></li>
		<li class="nav-link nav-3"><a href="get-answers.html">Get Answers</a></li>
	</ul>
</nav>
<nav role="navigation" class="nav-secondary">
	<ul id="js-navigation-menu-sub" class="navigation-menu show">
		<li class="nav-link contact-us">
			<span class="icon icon-contact-bubble"></span>
			<a href="contact.html">Contact us:</a>
		</li>
		<li class="nav-link">
			<span class="tooltip-target">
				<a href="contact.html">Call</a>
				<div class="tooltip">
	    			<p><a href="tel:8002964015">1-800-296-4015</a></p>
	  			</div>
			</span>
		</li>
		<li class="nav-link"><a href="contact.html">Chat</a></li>
		<li class="nav-link"><a href="contact.html#test">Email</a></li>
	</ul>
</nav>		
		</div>
	</div>

</header>
<div class="container-full-width container-theme-gray-light">
		<div class="container-standard-width">
			<nav role="navigation" class="nav-tertiary">
				<ul id="js-navigation-menu-tert" class="navigation-menu show">
					<li class="nav-link nav-1"><a href="library-landing.html">Library</a></li>
					<li class="nav-link nav-2"><a href="javascript:void(0)">Glossary</a></li>
					<li class="nav-link nav-3 contact"><a href="contact.html">Contact Us</a></li>
				</ul>
			</nav>
	</div>
</div>
	<div class="container-full-width container-theme-whitesmoke layout-article columns-8-and-4">
		<div class="container-standard-width">
			<section class="section-content">
				<div class="breadcrumbs">
					<ul>
						<li class="breadcrumb-item"><a href="#">Get Answers</a> <i class="fa fa-angle-right"></i></li>
						<li class="breadcrumb-item"><a href="#">Blog</a> <i class="fa fa-angle-right"></i></li>
						<li class="breadcrumb-item"><a href="#">Healthy Living</a></li>
					</ul>
				</div>
				<h1>All About Sleep/Wake Cycles</h1>
				<div class="article-attributions">
					<p>The StayWell Company, LLC, <span>August 15, 2016</span></p>
				</div>

				<div class="article-badges">
					<ul>
						<li class="article-badge"><a href="#">Healthy Living</a></li>
						<li class="article-badge"><a href="#">Sleep</a></li>
						<li class="article-badge-social"><a href="#"><i class="fa fa-share-alt"></i> Share</a></li>
					</ul>
				</div>

				<div class="article-content">
					<p>Some nights you drift off to dreamland before you count your third sheep. Other times you toss and turn for hours before you slip into a fitful sleep. After lunch you may be dragging. Later, your energy levels soar, just in time for bed.</p>
					<img src="../assets/placeholder-sleeping.jpg" alt="#">
					<p>How and when you feel sleepy has to do with your sleep/wake cycles, which are triggered by chemicals in the brain.</p>
					<h3>Brain Chemicals &amp; Sleep</h3>
					<p>Chemicals called neurotransmitters send messages to different nerve cells within the brain. Nerve cells in the brainstem release neurotransmitters. These include norepinephrine, histamine, and seratonin. Neurotransmitters act on parts of the brain to keep it alert and functioning while you are awake.</p>
					<p>Other nerve cells stop the messages that tell you to stay awake, causing you to feel sleepy. One chemical involved in that process is called adenosine. Caffeine promotes wakefulness by blocking the receptors to adenosine. Adenosine seems to work by gradually building up in your blood when you are awake, leading you into drowsiness. While you sleep, the chemical slowly dissipates.</p>
				</div>

				<div class="article-badges">
					<ul>
						<li class="article-badge"><a href="#">Healthy Living</a></li>
						<li class="article-badge"><a href="#">Sleep</a></li>
						<li class="article-badge-social"><a href="#"><i class="fa fa-share-alt"></i> Share</a></li>
					</ul>
				</div>

			</section>
			<section class="section-content">
				<div class="article-sidelinks">
					<h2>Categories</h2>
					<div class="list-links">
						<a href="#">Living Well</a>
						<a href="#">Fitness</a>
						<a href="#">Nutrition</a>
						<a href="#">Sleep</a>
						<a href="#">Stress</a>
						<a href="#">Using Your Benefits	</a>									
						<a href="#">more...</a>
					</div>
				</div>

				<div class="article-sidelinks">
					<h2>Popular Content</h2>
					<ul class="list-angles">
						<li><a href="#">All About Acupuncture</a></li>
						<li><a href="#">When to Look for a Second Opinion</a></li>
						<li><a href="#">Dental Health for Kids</a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>	

	<div class="container-standard-width">
		<section class="section-content">
			<h2>Related Content</h2>

			<div class="cards favorites-cards">
			  <div class="card">
			    <div class="card-header">
			      Decision Support
			    </div>			  
			    <div class="card-image">
			      <img src="../assets/placeholder-mountains.png" alt="">
			    </div>
			    <div class="card-copy">
			      <p><a href="#">Video: Choosing the right plan for you</a></p>
			    </div>
			  </div>

			  <div class="card">
			    <div class="card-header">
			      Article
			    </div>			  
			    <div class="card-image">
			      <img src="../assets/placeholder-running.png" alt="">
			    </div>
			    <div class="card-copy">
			      <p>Simplifying decisions: Think of us as your personal shopper</p>
			    </div>
			  </div>

			  <div class="card">
			    <div class="card-header">
			      Article
			    </div>			  
			    <div class="card-image">
			      <img src="../assets/placeholder-working.png" alt="">
			    </div>
			    <div class="card-copy">
			      <p>Health &amp; Wellness Tool: We've got something for everyone</p>
			    </div>
			  </div>			  

			  <div class="card">
			    <div class="card-header">
			      Article
			    </div>			  
			    <div class="card-image">
			      <img src="../assets/placeholder-touching.png" alt="">
			    </div>
			    <div class="card-copy">
			      <p>What to think about when choosing a hospice care provider</p>
			    </div>
			  </div>
			</div>
		</section>
	</div>

</div> <!-- end .page-wrapper -->

<footer class="footer-primary">

<div class="container-full-width pre-footer">
	<div class="container-standard-width">
		<section class="section-content site-map">
			<nav role="navigation">
				<h3>Site</h3>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="plan-ahead.html">Plan Ahead</a></li>
					<li><a href="get-answers.html">Get Answers</a></li>
					<li><a href="logged-out.html">Log Out</a></li>				
				</ul>
			</nav>
			<nav role="navigation">
				<h3>About FHM</h3>
				<ul>
					<li><a href="about.html">About Us</a></li>
					<li><a href="about.html">About FHM</a></li>
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</nav>
			<nav role="navigation">
				<h3>References</h3>
				<ul>
					<li><a href="all-tools.html">All Tools</a></li>
					<li><a href="life-changing-event.html">Life Changing Event</a></li>
				</ul>
			</nav>						
		</section>
		<section class="section-content nav">
<nav role="navigation" class="nav-secondary">
	<ul id="js-navigation-menu-sub" class="navigation-menu show">
		<li class="nav-link contact-us">
			<span class="icon icon-contact-bubble"></span>
			<a href="contact.html">Contact us:</a>
		</li>
		<li class="nav-link">
			<span class="tooltip-target">
				<a href="contact.html">Call</a>
				<div class="tooltip">
	    			<p><a href="tel:8002964015">1-800-296-4015</a></p>
	  			</div>
			</span>
		</li>
		<li class="nav-link"><a href="contact.html">Chat</a></li>
		<li class="nav-link"><a href="contact.html#test">Email</a></li>
	</ul>
</nav>			</section>
				
	</div>
</div>

	<div class="container-full-width footer-main">
		<div class="container-standard-width">
			<section class="section-content footer-copy">
				<p>&copy; 2016 FMR LLC. All Rights Reserved</p>
				<p>Terms of Use Privacy Licensing</p>
				<p>Fidelity, Fidelity Investments, the Fidelity Investments and Pyramid Design logo, NetBenefits, and Fidelity HSA are registered service marks of FMR LLC.</p>
			</section>
			<section class="section-content footer-logo">
				<a class="logo" href="javascript:void(0)">
					<img src="../assets/logo-fidelity-light.png" alt="Logo Image">
				</a>		
			</section>
		</div>	
	</div>
</footer>
	
	<!-- JS -->
	<script src="../vendor/twitter-typeahead/typeahead.bundle.min.js"></script>	
	<script src="../scripts/site/utilities.js"></script>	
	<script src="../scripts/site/app.js"></script>

	</body>
</html>