/* Structure */

$susy: (
  columns: 12,
  container: 1153px,
  global-box-sizing: border-box,
  gutters: 0,
  debug: (
    image: hide,
  ),
);

$small-screen: 400px;
$medium-screen: 600px;
$large-screen: 940px;
$x-large-screen: 1200px;

$color-gray-light: #e7e7e7;
$color-purple: #6d5191;
$color-fucshia: #b86ca6;
$color-lagoon: #0b1110;
$color-celery: #f0ee86;

@include border-box-sizing;

body {
  background: #f4f4f4;
  color: #333;
}

a:link,
a:visited {
  color: $color-purple;
}

a:hover,
a:active {
  color: #9568cf;
}

.bar {
  background: linear-gradient(to bottom, #270030 0, #5a438b 66%, #7cb7ad 100%);
  height: 120px;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;

  @media (min-width: $medium-screen) {
    height: 20rem;
  }
}

.wrapper {
  @include container;
  @include show-grid(12);

  background: transparent;
  margin: 0 auto;

  @media (min-width: $large-screen) {
    margin: 5rem auto;
  }
}

.sidebar {
  @include span(12);

  @media (min-width: $large-screen) {
    @include span(3);
    padding: 0 2.5rem;
  }
}

header {
  color: #fff;
  padding: 1rem;
  text-transform: uppercase;

  a {
    color: #fff !important;
    text-decoration: none;
  }

  @media (min-width: $large-screen) {
    height: 15rem;
    padding: 2.5rem 0;
  }

  h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0.25rem;

    @media (min-width: $large-screen) {
      font-size: 3.75rem;
      margin-bottom: 0.5rem;
    }

    span {
      display: block;
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 0.5rem 0 0;
    }
  }
}

nav {
  background: #f4f4f4;
  padding: 1rem;

  @media (min-width: $large-screen) {
    background: transparent;
    padding: 2.5rem 0;
  }

  .links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $large-screen) {
      display: block;
    }

    li {
      color: #000;
      display: block;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 0;
      overflow: hidden;
      white-space: nowrap;

      @media (min-width: $large-screen) {
        margin-bottom: 0.75rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .circle {
        background: #6dc1b3;
        border-radius: 100%;
        color: #fff;
        display: none;
        float: left;
        font-size: 16px;
        height: 1.5rem;
        margin: 0 0.75rem 0 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 1.5rem;

        @media (min-width: $large-screen) {
          display: block;
        }

        &:before {
          position: relative;
          left: 0;
          top: 5px;
        }
      }

      a:link,
      a:visited {
        color: #000;
        text-decoration: none;
      }

      a:hover,
      a:active {
        color: #000;
        text-decoration: none;

        .circle {
          background-color: #51968a;
          transition: 0.6s;
          transform: rotateY(180deg);
        }
      }
    }
  }
}

.content {
  background: #fff;
  padding: 2rem 1rem 1rem;
  position: relative;
  z-index: 1;

  @include span(12);

  @media (min-width: $large-screen) {
    @include span(last 9);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
    min-height: 40rem;
    padding: 3rem 2.5rem 2.5rem;
  }

  > section {
    padding-bottom: 2rem;
  }

  > section + section {
    border-top: 1px #ccc solid;
    padding-top: 2rem;
  }
}

// Homepage Intro
.fancy-heading {
  border-bottom: 2px solid $color-gray-light;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;

  .fancy-photo {
    height: 20%;
    overflow: hidden;
    width: 20%;
    border-radius: 50%;
    background: $color-gray-light;
    flex-shrink: 0;
    margin-right: 1rem;
    img {
      filter: grayscale(1);
      max-width: 100%;
    }
  }
  .heading {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    max-width: 60ch;
    @media (min-width: $medium-screen) {
      font-size: 28px;
      max-width: 50ch;
    }
  }
}

.fancy-indent {
  @media (min-width: $medium-screen) {
    //margin-left: 118px;
  }
}

.highlight {
  position: relative;

  &:after {
    /* Highlight color */
    background-color: #f0ee86;

    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
  }
}

.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    color: black;
  }
}

// Projects
.projects {
  margin-bottom: 0;
}

.project {
  .img-container {
    align-self: start;
    background: #fff;
    border: 1px #ccc solid;

    @media (min-width: $large-screen) {
      overflow: hidden;
    }

    a:hover,
    a:active {
      opacity: 0.66;
      transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -webkit-transition: opacity 0.3s ease-in-out;
    }

    img {
      vertical-align: middle;
      width: 100%;
    }
  }

  figcaption {
    padding: 1.5rem 0.5rem 0.5rem;

    h4 {
      margin-bottom: 0.25rem;
      text-transform: none;

      a {
        color: black;
        text-decoration: none;
        &:link,
        &:visited {
          text-decoration: none;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      font-size: 0.85rem;
      line-height: 1.5em;

      @media (min-width: $large-screen) {
        font-size: 0.9rem;
      }

      a .fa {
        margin-left: 0.25rem;
      }
    }
  }
}

.projects-main {
  @include container(12);
  display: flex;
  flex-direction: column;
  .project {
    display: block;
    border-bottom: 1px #ececec solid;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    > figure {
      margin: 0;
      @media (min-width: $large-screen) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0px;
        margin: 0;
      }

      figcaption {
        padding: 0;
        @media (min-width: $large-screen) {
          grid-column: 2 / 5;
          padding: 0 1.5rem;
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.projects-archive {
  @include container(12);

  .project {
    display: block;
    margin: 0 0 0.5rem;
    padding: 0;

    @media (min-width: $small-screen) {
      @include span(6 of 12);

      &:nth-child(3n) {
        clear: left;
      }
    }

    figure {
      margin: 0;

      @media (min-width: $small-screen) {
        margin-right: 12%;
      }
    }
  }
}

.project-screenshot {
  display: inline-block;
  margin: 0 0 2rem;
  img {
    background: #fff;
    display: block;
    max-width: 100%;
  }
  figcaption {
    background: #f1f1f1;
    font-size: 0.8rem;
    line-height: 1.25;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-style: italic;
  }
}

.add-border {
  border: 1px #ccc solid;
}

.pretty-thumbnail {
  background: rgb(79, 156, 156);
  border: 0;
  border-radius: 8px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;

  .img-container {
    border: 0;
  }

  img {
    max-width: 100%;
  }
}

.projects-main .pretty-thumbnail {
  padding: 1rem;
}

.project-snapshot {
  margin-bottom: 1rem;

  @media (min-width: $medium-screen) {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 0px;
    gap: 0.5rem;
  }

  section {
    display: block;
    &.col-1 {
      flex: 50%;
    }
    &.col-2 {
      flex: 25%;
      margin-top: 1rem;
      @media (min-width: $medium-screen) {
        margin-top: 0;
      }
    }
    &.col-3 {
      flex: 25%;
    }
  }
  .heading {
    font-size: 16px;
    margin: 0 0 0.25rem;
  }
  p,
  ul li {
    font-size: 0.875rem;
    line-height: 1.25;
    margin: 0;
  }
  ul {
    padding-left: 20px;
  }
}

// Client grid
.clients-container {
  @include container(12);

  .client {
    display: block;
    margin: 0 0 0.5rem;
    padding: 0;

    @include span(6 of 12);

    @media (min-width: $large-screen) {
      @include span(3 of 12);
    }

    figure {
      margin: 0;

      @media (min-width: $large-screen) {
        margin-right: 12%;
      }
    }

    .img-container {
      background: #fff;
      //border: 1px #ccc solid;

      @media (min-width: $large-screen) {
        overflow: hidden;
      }

      a:hover,
      a:active {
        opacity: 0.66;
        transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -webkit-transition: opacity 0.3s ease-in-out;
      }

      img {
        vertical-align: middle;
        width: 100%;
      }
    }

    figcaption {
      display: none;
      padding: 0.5rem 0.5rem 0.5rem;
      text-align: center;

      h4 {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        text-transform: none;
      }
    }
  }
}

.skills {
  .skills-group {
    border-top: 1px #ccc solid;
    padding-top: 2rem;
    margin-bottom: 3rem;

    h4 {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }

    .title {
      display: block;
      margin-bottom: 0.25rem;
      font-size: 1rem;
    }

    .company-name {
      display: block;
      margin-bottom: 0.25rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.25rem;
    }

    ul {
      font-size: 0.85rem;
      line-height: 1.5em;
    }

    table td {
      vertical-align: top;
    }

    &.work-experience,
    &.languages {
      h4 {
        margin-bottom: 1rem;
      }
    }
  }
}

.list-tags {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
  max-width: 100%;
  &:last-child {
    margin-bottom: 0;
  }

  li {
    background: $color-fucshia;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin: 0 1px 4px 0;
    padding: 6px 8px;
    white-space: nowrap;

    &.tag-design {
      background: $color-purple;
    }
    &.tag-other {
      background: #9ead5c;
    }
  }
}

.swatch-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  .swatch {
    background: gray;
    border: 1px $color-gray-light solid;
    border-radius: 8px;
    height: 175px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .swatch-info {
    background: #333;
    color: white;
    padding: 0.5rem;
    font-size: 15px;
    font-family: monospace;
    @media (min-width: $large-screen) {
      font-size: 15px;
    }
  }
  span + span {
    margin-top: 4px;
  }
}

.secret-page-corner {
  height: 69px;
  width: 69px;
}

.icon-margin-right:before {
  margin-right: 10px;
}

footer {
  clear: both;
  padding: 1rem 0;
  text-align: center;
  width: 100%;

  @include span(12);

  @media (min-width: $large-screen) {
    @include span(last 9);
  }

  p {
    font-size: 0.75rem;
    margin: 0;
  }
}
