{{> partials/html-head }}

<body>

	<div class="bar"></div>

	<div class="wrapper">	
		{{> partials/sidebar }}
		<div class="content">

			<section class="about">
			
				<h2>About Me</h2>
				<p>Hi! I'm a UX developer from the Boston area. Over the last 15 years, I've built websites for small startups and global agencies. With a background in Graphic Design, I believe that good design must be understandable, unobtrusive and accessible.</p>

				<p>My specialties include design systems. In one of my last roles, I was a subject matter expert on design systems and led workshops to train clients on the ins-and-outs of adopting one. Additionally, I've presented about responsive web design at <a href="http://conference.uxpaboston.org" target="_blank">UXPA</a> and to UX/HCI students at Bentley University.</p>

				<p>I'm passionate about tech inclusion and started <a href="https://www.girldevelopit.com" target="_blank">Girl Develop It</a> in Boston, offering affordable coding classes for women.</p>
				
				<p>Beyond the pixels, you'll find me navigating the fiery world of hot sauces, indulging in craft beers or hiking with my Corgi <a href="http://instagram.com/starbuck_the_corgi" target="_blank">Starbuck</a>.</p>
			</section> 

			<section class="projects">
			  	<h2 class="h3">Brands I've Worked With</h2>
			  	<p>Below are some of the brands I have worked with. See <a href="projects.html">Projects</a> for work examples.</p>
			  	{{> partials/clients }}
			</section>
		</div>

		{{> partials/footer }}

	</div>

</body>
</html>