{{> partials/html-head }}

<body>

	<div class="bar"></div>

	<div class="wrapper">	

		<div class="sidebar">

			<header>
				<h1>Annette Arabasz <span>Front End Developer</span></h1>
			</header>	

			{{> partials/nav }}

		</div>		

		<div class="content">

			<section class="skills">
				<h2>Connect</h2>
				<p>Please reach out to me if you are interested in connecting professionally.</p>

				<p><span class="fa fa-envelope icon-margin-right"></span>E-mail: <a href="#">fakeaddress@tbd.com</a>
				<br>
				<span class="fa fa-github-alt icon-margin-right"></span>Github: <a href="https://github.com/anevaude">https://github.com/anevaude</a>
				<br>				
				<span class="fa fa-linkedin-square icon-margin-right"></span>LinkedIn: <a href="https://www.linkedin.com/in/annettearabasz">https://www.linkedin.com/in/annettearabasz</a></p>			

			</section>			
		</div>

		{{> partials/footer }}

	</div>

</body>
</html>