{{> partials/html-head }}

<body>
	<div class="bar"></div>
	<div class="wrapper">	
		{{> partials/sidebar }}		
		<div class="content">
			<h2>Nitty Gritty Details</h2>	
			<p>Wondering how I code? Here's what I used to build this site.*</p>
			<br>
			<h3>Technologies</h3>
			<ul>
				<li>HTML5 and CSS3 with SCSS. Mobile-first and responsive.</li>
				<li><a href="https://handlebarsjs.com/">Handlebars JS</a> with <a href="https://mustache.github.io/">Mustache</a> for dynamic elements and templating.</li>			
				<li>PostCSS <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a> to parse my CSS and add vendor prefixes. </li>
				<li><a href="http://susy.oddbird.net">SUSY</a> for pre-structuring responsive grids.</li>
				<li><a href="https://gruntjs.com/">Grunt</a> as my Javascript task runner to compile everything.</li>
				<li><a href="https://www.sublimetext.com/">Sublime Text 2</a> for text editing.</li>
			</ul>
			<p>* Please note that at the time, all these technologies were "modern". So if you're reading this in the year 2050, you may be having a good laugh!</p>
			<h3>Colors</h3>
			<p>My palette is based on the Northern Lights, inspired by the completion of an amazing bucket list trip to Iceland in 2014.</p>
			<div class="swatch-list">
				<div class="swatch" style="background: #6D5191">
					<div class="swatch-info">
						<span>$color-purple</span>
						<span>#6D5191</span>
					</div>
				</div>
				<div class="swatch" style="background: #B86CA6">
					<div class="swatch-info">
						<span>$color-fuchsia</span>
						<span>#B86CA6</span>
					</div>
				</div>	
				<div class="swatch" style="background: #6dc1b3;">
					<div class="swatch-info">
						<span>$color-lagoon</span>
						<span>#6dc1b3</span>
					</div>
				</div>
				<div class="swatch" style="background: #f0ee86;">
					<div class="swatch-info">
						<span>$color-celery</span>
						<span>#f0ee86</span>
					</div>
				</div>											
			</div>					
			<div style="display: none;">
				<br>
				<h3>Archive (pre-2016)</h3>
				<p>Here are past versions of my portfolio site. I like keeping these around because frankly they make me laugh. But in all seriousness, I think it's healthy to keep old versions of your code so you can understand not only how much <em>you've</em> changed, but also to be reminded of how quickly technology changes.</p>
				<br>

				<div class="projects-archive">
					<div class="project">
						<figure>
							<div class="img-container">
								<a href="http://arabasz.com/oldie-2016/index.php"><img src="assets/img/projects/tb-arabasz-01.jpg" alt="Old arabasz.com thumbnail image"></a>
							</div>
							<figcaption>
								<h4>Arabasz.com (v. 2010-2016)</h4>			  				
								<p><a href="http://arabasz.com/oldie-2016/index.php">View archived site<span class="fa fa-arrow-circle-right"></span></a></p>			  				
							</figcaption>
						</figure>			  			
					</div>
				</div>	
			</div>		
		</div>
		{{> partials/footer }}
	</div>
</body>
</html>