{{> partials/html-head }}

<body>

	<div class="bar"></div>

	<div class="wrapper">	

		<div class="sidebar">

			<header>
				<h1>Annette Arabasz <span>UX Developer</span></h1>
			</header>	

			{{> partials/nav }}

		</div>		

		<div class="content">

				<h2>Bank of America: Responsive Design System</h2>
				<ul class="list-tags">
  					<li>HTML</li>
  					<li>CSS</li>		
					<li>SASS</li>	
					<li>jQuery</li>
					<li class="tag-other">RWD</li>
  				</ul>	
				<p><a href="https://arabasz.com/portfolio-web/boa-rwd/index.html" target="_blank"><span class="fa fa-external-link icon-margin-right"></span>https://arabasz.com/portfolio-web/boa-rwd/index.html</a></p>
				<br /> 

				<h3>Overview</h3>
				<p>We developed a pilot of a responsive design system to help guide Bank of America take their first steps in becoming mobile-friendly. Along with a design system, we coded six prototypes to show Bank of America how easy it was to take some of their most popular pages and make them mobile-friendly.</p>
				<p>
				Financial institutions, in particular, faced a unique challenge when it came to becoming responsive due to the sheer complexity of their page layouts. (For example, many banks use dashboards to present their customers with account information. Our challenge was to prove even complex layouts like a dashboard could be adapted into a mobile and tablet sized viewport.) We were able to take some of their most complex dashboards and show how they can be presented in smaller viewports.</p>
							
				<h3>Team & Role</h3>
				<p>I served as a Creative Technologist on this project, coding the component library. I worked closely with the design team to ensure that anything we designed was feasible on mobile, reassessing the design as issues arose.</p>

				<p>The project involved two developers, one UX researcher, one UX designer, one visual designer and one client experience director.</p>

				<h3>Process</h3>
				<p>The design system was made with HTML5, CSS and some jQuery for interactions like carousels amd tabs. Feature detection and CSS fallbacks were addressed with Modernizer (<a href="https://modernizr.com/">https://modernizr.com</a>). 
				<br />

				<h3>Results</h3>
				<p>The deliverable was a responsive design system as well as six prototypes showing how some of Bank of America's most popular pages can be adapted from a desktop layout to being mobile-friendly.</p>
				<p>The pilot was a success in that it served as a baseline for BoA's eventual full conversion to mobile-friendliness within their web ecosystem. Today, Bank of America's banking website is completely mobile-friendly, and I am proud to know that we helped play an important part in that.</p>

				<h3>Screenshots</h3>

				<figure class="project-screenshot">
					<a href="https://aa-portfolio.imgix.net/boa-screenshot-01.png?h=1000"><img src="https://aa-portfolio.imgix.net/boa-screenshot-01.png?w=770" alt="Bank of America screenshot" class="add-border"></a>
					<figcaption>Screenshot of an account dashboard. <a href="https://aa-portfolio.imgix.net/boa-screenshot-01.png?h=1000">View larger</a></figcaption>
				</figure>

				<br /> <br />

				<h3>Link</h3>
				<p>The code for the project can be seen at the link below:</p>

								<p><a href="https://arabasz.com/portfolio-web/boa-rwd/index.html" target="_blank"><span class="fa fa-external-link icon-margin-right"></span>https://arabasz.com/portfolio-web/boa-rwd/index.html</a></p>
				
		</div>

		{{> partials/footer }}

	</div>

</body>
</html>