{{> partials/html-head }}

<body>

	<div class="bar"></div>

	<div class="wrapper">	

		<div class="sidebar">

			<header>
				<h1>Annette Arabasz <span>UX Developer</span></h1>
			</header>	

			{{> partials/nav }}

		</div>		

		<div class="content">

				<h2>ESPN Playstation Fiesta Bowl</h2>

  				<ul class="list-tags">
  					<li>HTML</li>
  					<li>CSS</li>
  					<li>jQuery</li>
  					<li>Expression Engine</li>
  					<li>Mustache</li>
  					<li>Foundation</li>  					
  				</ul>	

				<p><a href="assets/portfolio-web/espn-2016-fiesta-bowl/index.html"><span class="fa fa-external-link icon-margin-right"></span>View the page</a></p>		
		
				<div class="pretty-thumbnail" style="background-color: #164281;"><img src="https://aa-portfolio.imgix.net/thumbnail-espn-01.png?w=536" alt="project screenshot">
				</div>

				<h3>Overview</h3>

				<p>ESPN asked us to create the media partnership pages for their Fiesta Bowl games.Event sponsors would use the website to see photos and videos of how their brand was promoted during the event -- typically TV spots, in-game graphics, Twitter callouts and parties.</p> 
				<p>The site hosted a large collection of media files from the event, including photos, videos and PDFs. Sponsors could also log in to a password-protected area to view marketing statistic documents.</p>
				<p>The site was built using the Expression Engine CMS as the base, and Mustache and Foundation serving the front end.</p>


				<br>

				<h3>Screenshots</h3>
				<figure class="project-screenshot">
					<a href="https://aa-portfolio.imgix.net/espn-fiesta-bowl.png?width=800"><img class="add-border" src="https://aa-portfolio.imgix.net/espn-fiesta-bowl.png?width=500" alt="ESPN website screenshot"></a>
				</figure>

		</div>

		{{> partials/footer }}

	</div>

</body>
</html>