{{> partials/html-head }}

<body>

	<div class="bar"></div>

	<div class="wrapper">	

		<div class="sidebar">

			<header>
				<h1>Annette Arabasz <span>Front End Developer</span></h1>
			</header>	

			{{> partials/nav }}

		</div>		

		<div class="content">

				<h2>ESPN Event Wrap-ups</h2>

  				<ul class="list-tags">
  					<li>HTML</li>
  					<li>CSS</li>
  					<li>jQuery</li>
  					<li>Expression Engine</li>
  					<li>Mustache</li>
  					<li>Foundation</li>  					
  				</ul>				

				<p>A collection of sites summarizing the <em>X Games</em> and <em>ESPYs Awards</em>. The primary audience is event sponsors, who use the website to see how their brand was promoted.</p>
				<p>Each site contains a large collection of media files from the event, including photos, videos and PDFs. Sponsors can log in to a password-protected area to view marketing statistic documents.</p>
				<p>The original version of the site was built in 2012 on the Expression Engine CMS. It was revamped in 2015 using Mustache and Foundation, resulting in a much simpler and easier-to-maintain experience.</p>

				<p><a href="http://www.espneventwrapups.com"><span class="fa fa-external-link icon-margin-right"></span>http://www.espneventwrapups.com</a></p>

				<br>

				<h3>Screenshots</h3>
				<figure class="project-screenshot">
					<a href="http://www.espneventwrapups.com/winter-xgames-2012"><img src="assets/img/projects/full-espn-01.jpg" alt="ESPN website screenshot"></a>
				</figure>

			<a class="secret-page-corner"></a>

		</div>



	</div>

</body>
</html>