{{> partials/html-head }}

<body>

	<div class="bar"></div>
	<div class="wrapper">
		{{> partials/sidebar }}
		<div class="content">

				<h2>Projects</h2>
				<p>This page contains some examples of my work in design and coding.</p>
				<p><em>Due to privacy agreements, some of my work is not included here. Please <a href="connect.html">contact me</a> if there is specific work you'd like examples of.</em></p>
				<br />

				<h3 class="h4">Highlighted projects</h3>
				{{> partials/projects-main }}

				<br />

				<h3 class="h4">Older projects</h3>
			  	{{> partials/projects-archive }}	


		</div>

		{{> partials/footer }}
		
	</div>
</body>
</html>