{{> partials/html-head }}

<body>

	<div class="bar"></div>

	<div class="wrapper">	

		<div class="sidebar">

			<header>
				<h1>Annette Arabasz <span>UX Developer</span></h1>
			</header>	

			{{> partials/nav }}

		</div>		

		<div class="content">

				<h2>ESPN Playstation Fiesta Bowl</h2>

  				<ul class="list-tags">
  					<li>HTML</li>
  					<li>CSS</li>
  					<li>jQuery</li>
  					<li>Expression Engine</li>
  					<li>Mustache</li>
  					<li>Foundation</li>  					
  				</ul>	

				<p><a href="assets/portfolio-web/espn-2016-fiesta-bowl/index.html"><span class="fa fa-external-link icon-margin-right"></span>View the page</a></p>		
		
				<div class="pretty-thumbnail" style="background-color: #164281;"><img src="https://aa-portfolio.imgix.net/thumbnail-espn-01.png?w=536" alt="project screenshot">
				</div>

				<h3>Overview</h3>

				<p>ESPN needed a webpage to share the media sponsorship coverage of the Fiesta Bowl games. Event sponsors would use the site to review how their brand was promoted during the event -- including photos and videos of TV spots and signage.</p>


				<h3>Code stack</h3>
								
				<p>It was important that the site was mobile-friendly, so I built it using the Foundation framework. </p>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li><a href="https://get.foundation/" target="_blank">Foundation</a></li>
					<li><a href="https://mustache.github.io/" target="_blank">Mustache JS</a></li>
					<li><a href="https://expressionengine.com/" target="_blank">Expression Engine CMS</a></li>
				</ul>
				

				<br>

				<h3>Screenshots</h3>
				<figure class="project-screenshot">
					<a href="https://aa-portfolio.imgix.net/espn-fiesta-bowl.png?width=800"><img class="add-border" src="https://aa-portfolio.imgix.net/espn-fiesta-bowl.png?width=500" alt="ESPN website screenshot"></a>
				</figure>

		</div>

		{{> partials/footer }}

	</div>

</body>
</html>