{{> partials/html-head }}

<body>

	<div class="bar"></div>

	<div class="wrapper">	

		<div class="sidebar">

			<header>
				<h1>Annette Arabasz <span>Front End Developer</span></h1>
			</header>	

			{{> partials/nav }}

		</div>		

		<div class="content">

				<h2>Projects</h2>
				<p>This page contains some recent examples of project work.</p>
				<p>Please note that due to privacy agreements, not all of my work may be listed here. If there's a specific skill you would like to see an example of, please <a href="contact.html">contact me</a>.</p>
				<br>

			  	{{> partials/projects }}	

			  	<br>
			  	<h2>Clients</h2>
			  	<p>Below are some of the clients and brands I have worked with.</p>

			  	{{> partials/clients }}

		</div>

		{{> partials/footer }}
		
	</div>
</body>
</html>