{{> partials/html-head }}

<body>

	<div class="bar"></div>

	<div class="wrapper">	

		{{> partials/sidebar }}				

		<div class="content">

				<h2>AbbVie: Responsive Design System</h2>
				<ul class="list-tags">
  					<li>HTML</li>
  					<li>CSS</li>
  					<li>JavaScript</li>	
  				</ul>		

				<p><a href="assets/portfolio-web/abbvie-style-guide/Styleguide/index.html"><span class="fa fa-external-link icon-margin-right"></span>View the page</a></p>	

				<br /> 

				<div class="pretty-thumbnail" style="background-color: #86a8bb;"><img src="https://aa-portfolio.imgix.net/thumbnail-abbvie-01.png?w=536" alt="project screenshot">
				</div>

				<h3>Overview</h3>
				<p>AbbVie is one of America's largest pharmaceutical companies. This project created a responsive design system for their Pharmacy Solutions Manager, a tool that would need to be accessible on mobile devices.</p>
				<p>The design system included Abbvie's branding guidelines, documentation, and code snippets for typography, color, and logo usage.</p>
				

				<h3>Team & Role</h3>

				<p>I served as a <strong>Creative Technologist</strong>, working closely with the design team to create an on-brand collection of elements for AbbVie.</p>
				<br />
				
				<h3>Code stack</h3>							
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript (jQuery)</li>
					<li><a href="https://get.foundation/" target="_blank">Foundation</a></li>
					<li><a href="https://mustache.github.io/" target="_blank">Mustache JS</a></li>
					<li><a href="https://expressionengine.com/" target="_blank">Expression Engine CMS</a></li>
					<li><a href="https://bower.io/" target="_blank">Bower</a></li>
				</ul>
				<br />

				<h3>Link</h3>
				<p><a href="assets/portfolio-web/abbvie-style-guide/Styleguide/index.html"><span class="fa fa-external-link icon-margin-right"></span>View the page</a></p>	

		</div>

		{{> partials/footer }}

	</div>

</body>
</html>