{{> partials/html-head }}

<body>

	<div class="bar"></div>

	<div class="wrapper">	

		<div class="sidebar">

			<header>
				<h1>Annette Arabasz <span>Front End Developer</span></h1>
			</header>	

			{{> partials/nav }}

		</div>		

		<div class="content">

			<section class="skills">
				<h2>Résumé</h2>
				<p>Here you'll find a summary of my professional experience. You can also download my résumé in .PDF format using the link below.
				<p><a href="#"><span class="fa fa-file-pdf-o icon-margin-right"></span>PDF download</a></p>
				<br>

				<section class="skills-group work-experience">
					<h3>Work Experience</h3>

					<br>

					<h4><span class="company-name">Mad*Pow</span>
						Managing Director of Creative Technology | 2012-Present</h4>
					<ul>
						<li>Mentored Creative Technologists, helping to set personal goals and nurture individual talents</li>
						<li>Developed websites using HTML, CSS and JavaScript using mobile-first design practices.</li>
						<li>Regularly attended pitches for new business as a technology subject matter expert</li>						
					</ul>

					<br>

					<h4><span class="company-name">Girl Develop It</span>
						Chapter Leader | 2013-2015</h4>
					<ul>
						<li>Helped create the first Boston-based chapter of a national non-profit focused on providing affordable and accessible coding classes to women.</li>
						<li>Provided career mentorship to women making career switches to computer programming</li>
					</ul>	

					<br>	
					
					<h4><span class="company-name">Isobar</span>
						Interactive Developer | 2011-2012</h4>
					<ul>
						<li>Developed websites using HTML and CSS.</li>
						<li>Contributed to the <a href="http://isobar-idev.github.io/code-standards">Isobar Front-end Code Standards Guide</a></li>
						<li>Part of the first-prize-winning team at the <a href="https://vimeo.com/63663868">Create48</a> hackathon. Our team designed and built a simple Android app to address long waits at crowded bars.</li>
					</ul>

					<br>		
					
					<h4><span class="company-name">Connelly Partners</span>
						Web Designer/Developer | 2008-2011</h4>
					<ul>
						<li>Developed websites using HTML and CSS. Majority of work was code-to-comp, with emphasis on pixel-perfect design.</li>
						<li>Spearheaded projects from initial design phases to website launch.</li>
						<li>Communicated directly with clients via technical support and CMS training. Established self as a trusted technical advisor to internal management.</li>
						<li>Mentored interns in best web practices and modern coding techniques. Focused on improving code quality and strengthening confidence.</li>
					</ul>											

				</section>

				<section class="skills-group languages">
					<h3>Skills</h3>

					<br>

					<table>
						<tr>
							<td width="50%">
								<h4>Languages and Tools</h4>
								<ul class="list-skills">
									<li>HTML</li>
									<li>CSS
										<ul>
											<li>LESS, SCSS</li>
											<li>Bourbon, Susy</li>
										</ul>
									</li>
									<li>JavaScript
										<ul>
											<li>jQuery</li>
										</ul>
									</li>
									<li>Grunt, NPM</li>
									<li>Mustache</li>
									<li>Wordpress</li>
									<li>Git, version controll</li>
									<li>Responsive web design</li>					
									<li>PHP (working knowledge)</li>					
								</ul>								
							</td>
							<td>
								<h4>Software</h4>
								<ul class="list-skills">
									<li>Adobe Photoshop</li>
									<li>Adobe InDesign</li>
									<li>Adobe Lightroom</li>
									<li>Eclipse, SpringTools</li>
								</ul>	

								<h4>Design</h4>
								<ul class="list-skills">
									<li>UI wireframing and prototyping</li>
									<li>Information architecture</li>
									<li>Logos and brand identities</li>
								</ul>	

								<h4>Other Skills</h4>						
								<ul class="list-skills">
									<li>Bilingual with fluency in Polish</li>
								</ul>
							</td>
						</tr>
					</table>
										
				</section>

				<section class="skills-group">
					<h3>Education</h3>

					<br>

					<h4>BFA in Graphic Design and Letterform, Minor in Business</h4>
					<p>University of Massachusetts Dartmouth | 2004-2007<p>			

					<h4>Visual Communication Design</h4>
					<p>University of Hartford | 2003-2004</p>					
				</section>

				<section class="skills-group">
					<h3>Speaking Engagements</h3>

					<br>

					<h4>"Responsive Design Process: Building the Real Web 2.0"</h4>
					<p>UXPA Boston 2013, presented with Nick Snyder</p>
					<p><a href="http://www.slideshare.net/AnnetteArabasz/uxpa-boston-2013-responsive-web-design-mad-pow"><span class="fa fa-external-link icon-margin-right"></span>View the slide deck.</a></p>						
				</section>			
			</section>			
		</div>

		{{> partials/footer }}

	</div>

</body>
</html>