{{> partials/html-head }}

<body>

	<div class="bar"></div>

	<div class="wrapper">	
		{{> partials/sidebar }}
		<div class="content">

			<section class="skills">
				<h2>Résumé</h2>
				<p>You can download my résumé in PDF format using the link below. (If you're looking for my Github account, you can find that @ <a href="https://github.com/annetters">https://github.com/annetters</a>)</p>


				<a href="assets/arabasz-resume-2024.pdf"><img src="https://aa-portfolio.imgix.net/thumbnail-resume.png?h=350" alt="resume" style="border: 1px #ccc solid;"></a> <br />

				<a href="assets/arabasz-resume-2024.pdf" style="font-size: 14px; margin-top: 1rem;">arabasz-resume.pdf</a>

			

			</section>

</body>
</html>